[submodule "bitirme-frontend"]
	path = bitirme-frontend
	url = https://github.com/LelonDelonMelon/bitirme-frontend
[submodule "bitirme2"]
	path = bitirme2
	url = https://github.com/LelonDelonMelon/bitirme2
