[submodule "SecureDonationChain-backend"]
	path = SecureDonationChain-backend
	url = https://github.com/LelonDelonMelon/SecureDonationChain-backend
[submodule "SDC-frontend"]
	path = SDC-frontend
	url = https://github.com/LelonDelonMelon/SDC-frontend
